body {
  background-color: #eff1f3;
}

.header {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fefefe;
  padding-bottom: 15px;
}

button {
  border: 0px;
  background-color: #272727;
  padding: 5px;
  color: #fefefe;
  border-radius: 20px;
  width: 100px;
}

button:hover {
  background-color: #009fb7;
}

.main-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
