.auth-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-controls {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 250px;
}

.auth-tabs {
  display: flex;
  justify-content: center;
  margin: auto auto 0px auto;
}

.auth-tabs h3 {
  color: #55615c;
  padding-right: 20px;
}

.auth-tabs h3.active {
  color: #009fb7;
  text-decoration: underline;
}

.submit-btn {
  border: 0px;
  background-color: #272727;
  padding: 5px;
  color: #fefefe;
  border-radius: 20px;
  margin: 0px 70px 0px 70px;
}

.submit-btn:hover {
  background-color: #009fb7;
}
